body {
  box-sizing: border-box;
}
main {
  box-sizing: inherit;
  padding: 16px;
}
footer {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  background-color: #662400;
  color: white;
}
img {
  height: 400px;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #a61103;
  font: white;
}

.my-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

h1 {
  color: #a61103;
}

a {
  color: #d99962;
  text-decoration: none;
}

.ingredients-list {
  display: grid;
  grid-template-columns: 30% 30%;
}

tr:nth-child(even) {
  background-color: lightgray;
}
